KMS_ENCRYPTED_HOOK_URL=
UNENCRYPTED_HOOK_URL=
SLACK_CHANNEL='#notifications'
SLACK_USERNAME=Slack-CloudWatch-Bot
ICON_EMOJI=":robot_face:"
ORG_ICON=https://assertible.com/images/logo/logo-64x64.png
ORG_NAME=Assertible
ELASTIC_BEANSTALK_NOTIFICATION_MATCH_TEXT=
CLOUDWATCH_NOTIFICATION_MATCH_TEXT=
CODEDEPLOY_NOTIFICATION_MATCH_TEXT=
ELASTICACHE_NOTIFICATION_MATCH_TEXT=
AUTO_SCALING_NOTIFICATION_MATCH_TEXT=
